@page "/"

<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="customers">Customers</NavLink></li>
        <li><NavLink href="orders">Orders</NavLink></li>
        <li><NavLink href="products">Products</NavLink></li>
    </ul>
</nav>
<h1>Hello, world!</h1>
